html{
    background-color: #666;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 40px;
    text-align: auto;
    font-weight: bold;
}
p{
    font-size: 16px;
}
button{
    
}
.button:hover{
background-color: #ff0000;
}